{{#if products}}
    <h1>Productos</h1>
    {{#each products}}
        <h2>{{lookup this 'title'}}</h2>
        <p><b>Descripción:</b> {{lookup this 'description'}}</p>
        <p><b>Precio: $ </b>{{lookup this 'price'}}</p>
        <p><b>Código:</b> {{lookup this 'code'}}</p>
        <p><b>Stock:</b> {{lookup this 'stock'}}</p>
    {{/each}}
{{else}}
    <strong>No se ha encontrado ningún producto</strong>
{{/if}}


