<button id="logout-btn">Cerrar Sesión</button>

{{#if products}}
    <h1 class="products-heading">Productos</h1>
    <div class="products-container">
        {{#each products}}
            <div class="product">
                <h2>{{lookup this 'title'}}</h2>
                <p><b>Descripción:</b> {{lookup this 'description'}}</p>
                <p><b>Precio: $</b>{{lookup this 'price'}}</p>
                <p><b>Código:</b> {{lookup this 'code'}}</p>
                <p><b>Stock:</b> {{lookup this 'stock'}}</p>
            </div>
        {{/each}}
    </div>
{{else}}
    <strong>No se ha encontrado ningún producto</strong>
{{/if}}